@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --light-clr: hsl(240, 3%, 58%);
  --blue-clr: hsl(216, 100%, 50%);
  --blue-hover-clr: hsl(216, 100%, 36%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "inter", sans-serif;
  margin: 0;
  line-height: 1.2;
}

.App {
  position: relative;
}

p,
h1,
h2,
h3 {
  max-width: 58ch;
  margin: 0;
}

h1 {
  font-size: 80px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
  color: var(--light-clr);
}

a,
button {
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.section {
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 800px) {
  .section {
    margin-bottom: 6rem;
  }
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}
